body {background-color: bisque;}
img {border-style: dashed; }
  h1 {color:blueviolet;text-align:center;} 

ul{color: #006400;}
 p{color: blue;}
 .divone{background-color: aqua;} 
.div2{background-color:aquamarine; margin: 0%;}
.div3{background-color: pink; margin: 0%;}
h1 {margin: 0% ;}
ul{margin: 0%;}
img{margin: 0%;}